<div id="modal">
    <%= form_with(model: @registration, local: false) do |form| %>
        <div class="modal-content">
            <div class="container">
                <h1>Register Form</h1>

                <div class="form">
                    <div class="form-row">
                        <div class="form-group">
                            <%= form.label :first_name %>
                            <%= form.text_field :first_name, id: 'first_name', class: 'form-control' %>
                            <div class="error-message" >
                                <%= @registration.errors.full_messages_for(:first_name).join(', ') %>
                            </div>
                        </div>


                        <div class="form-group">
                            <%= form.label :last_name %>
                            <%= form.text_field :last_name, id: 'last_name', class: 'form-control' %>
                            <div class="error-message" >
                                <%= @registration.errors.full_messages_for(:last_name).join(', ') %>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <%= form.label :birthday %>
                            <%= form.date_field :birthday, id: 'birthday', class: 'form-control', data: { controller: "calendar", calendar_target: "dateField" } %>
                            <div class="error-message" > 
                                <%= @registration.errors.full_messages_for(:birthday).join(', ') %>
                            </div>
                        </div>

                        <div class="form-group">
                            <%= form.label :gender %>
                            <div>
                                <%= form.radio_button :gender, 'Male' %>
                                <%= form.label :gender_male, 'Male' %>
                                <%= form.radio_button :gender, 'Female' %>
                                <%= form.label :gender_female, 'Female' %>
                            </div>
                            <div class="error-message" >
                                <%= @registration.errors.full_messages_for(:gender).join(', ') %>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <%= form.label :email %>
                            <%= form.email_field :email, id: 'email', class: 'form-control' %>
                            <div class="error-message" >
                                <%= @registration.errors.full_messages_for(:email).join(', ') %>
                            </div>
                        </div>

                        <div class="form-group">
                            <%= form.label :phone_number %>
                            <%= form.text_field :phone_number, 
                                                placeholder: '123-456-7890', 
                                                id: 'phone_number',
                                                class: 'form-control', 
                                                data: { controller: "phone-format", phone_format_target: "input" } %>
                            <div class="error-message" >
                                <%= @registration.errors.full_messages_for(:phone_number).join(', ') %>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <%= form.label :subject %>
                        <%= form.select :subject, ['Math', 'Science', 'History', 'Art'], include_blank: 'Select', id: 'subjects', class: 'form-control' %>
                        <div class="error-message" >
                            <%= @registration.errors.full_messages_for(:subject).join(', ') %>
                        </div>
                    </div>

                </div>

                <div class="spacing-btn">
                    <%= link_to "Back", root_path, class: 'btn btn-secondary' %> 
                    <%= form.submit 'Submit', class: 'btn btn-primary' %> 
                </div>
            </div>
        </div>
    <% end %>
</div>